html,
body {
  text-align: center;
  height: 100vh;
  background-color: #f3f3f4;
  color: #050517;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  margin-top: 5em;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  margin-bottom: 1em !important;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
