.App {
  text-align: center;
  height: 100vh;
  background-color: #050517;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #cf5c36;
  height: 150px;
  padding: 20px;
  color: white;
}

input{
  margin-top: 3em;
}

.input-label{
  color: white;
}

.inputs{
  padding: 2em;
  display: block;
  text-align: center;
  margin-top: 2em;
  border: 1px solid #cf5c36;
  border-radius: 5px;
  width: 500px;
  
}

.text-input{
  /* border050517 */
}

.file-input{

}


