html,
body {
  text-align: center;
  height: 100vh;
  background-image: linear-gradient(#f2faff, #E5F3F4);
  /* background-color: #f2faff; */
  color: #141616;
}

.navbar{
  min-height: 60px;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  margin-bottom: 1em !important;
  padding: 10px;
  font-size: 16px;
}

#search-input{
  width: 400px;
}

.form-signin .form-control:focus {
  z-index: 2;
}
h1 {
 font-size: 3rem;
 letter-spacing: 1px;
 margin: 0;
 padding: 0;
 text-align: center;
 opacity: 0.5;
}

.app-outer {
 align-items: center; 
 bottom: 0;
 display: none;
 flex-direction: column;
 justify-content: center;
 left: 0;
 padding: 20px 0;
 position: absolute;
 right: 0;
 top: 0;
 overflow: hidden;
}

.app-inner {
  margin-top: 8em;
 display: flex;
 flex-direction: column;
 height: 100%;
 max-width: 100px;
 width: 100%;
}

.word{
  display: block;
  position: 'relative';
  cursor: pointer;
  transition: .5s;
}

.word:hover{
  font-size: 30;
  background-color: rgba(125, 141, 143, 0.685);
  padding: 10px;
  z-index: 5;
}

.word:hover .detail {
  color: white;
  font-size: .8em;
  font-family: sans-serif !important;
  display: block;
  margin-top: 1em;
  /* max-width: 300px; */
  font-family: serif;
}

.detail{
  display: none;
  /* font-size: 1em !important; */
}

.logo{
  margin: auto;
  padding-top: 1em;
  width: 100px;
  height: 100px;
}

.detail-container{
  display: none;
  grid-template-areas: 'A B C' 'D E F ' 'G H I';
  grid-gap: 10px;
  padding: 10px;
  margin: 0 auto;
}

.search-container{
  width: 600px;
  padding-top: 3em;
  margin:  auto;
}

label{
  margin-right: 2em;
}

.top-menu{
  background-image: linear-gradient(#121C23, #273037);
  color: #f2faff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  margin-top: 1em;
  padding: 14px 16px;
  text-decoration: none;
}

.figure{
  max-width: 200px;
  overflow: ellipsis;
  background: #ffffff;
  max-height: 300px;
  border-radius: 5px;
  font-size: .8em;
  margin: 0 auto;
}

.figure-caption{
  padding: .5em;
}




